<div class="album py-5 bg-light">
  <div class= "box2 edit-form">
    <div class="edit-form">
      <%= render 'form', note: @note %>
      <%= link_to '詳細', @note %> |
      <%= link_to '戻る', notes_path %>
    </div>
  </div>
</div>