<div class="album py-5 bg-light">
  <div class= "edit-form">
    <div class="box1">
      <div class="edit-form">
        <%= render 'form', beat: @beat %>
        <%= link_to 'Show', @beat %> |
        <%= link_to 'Back', beats_path %>
      </div>
    </div>
  </div>
</div>
