<div class="album py-5 bg-light">
  <div class= "box2 edit-form">
    <div class="edit-form">
      <%= render 'form', beat: @beat %>
      <%= link_to '詳細', @beat %> |
      <%= link_to '戻る', beats_path %>
    </div>
  </div>
</div>